p{ line-height: 16px; }
h1, h2, h3, h4{
	color: white;
	font-weight: normal;
	line-height: 60px;
	margin: 0 0 8px 0;
}
a{
	color: black;
	text-decoration: none;
}
a:hover,a:active{
	text-decoration: underline; 
}

body{
	font-family: arial; font-size: 80%; line-height: 19px; width: 147%; margin: 0; background: #eee; 
}

#page{ margin: 17px; }


#logo{
	width: 35%;
	margin-top: 5px;
	font-family: georgia;
	display: inline-block;
}

#nav{
	padding-left: 55px;
	width: 60%;
	display: inline-block;
	text-align: right;

}

#nav ul li{
	display: inline-block;
	height: 62px;
}
#nav ul li a{
	padding: 20px;
	background: #333;
	color: white;
}
#nav ul li a:hover{
	background-color: #1e90ff;
	box-shadow: 0px 1px 1px #666;
}
#nav ul li a:active{ background-color: #ff8f00; }

#content
{
	margin: 30px 0;
	background: white;
	padding: 20px;
	clear: both;
}
#footer
{
	position: bottom;
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}

#footer
p
{
	position:center absolute;
	text-transform: uppercase;
	font-size: 80%;
	text-align: center;
}
#content,
ul li a
{ 
	box-shadow: 0px 1px 1px #999; 
}

*{
	margin: 0;
	padding: 0;
}

@keyframes slidy 
{
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}
body 
{ 
	margin: 0; 
} 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; height: 500px; }
div#slider figure { 
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 20s slidy infinite; 
}

.wrapper {
	column-count: 0;
	padding: 50px;
}

p 
{
	line-height: 1.6; 
	font-family: Helvetica;
	text-align:inherit;
	margin: 0;
	font-size: 14px;
}

.it 
{
	border-radius: 40%
	height: 200px; 
	width:200px;
	background-color: #2badd9;
	float: right;
	shape-outside: url("7.png");
	margin-left: 20px;
	margin-bottom: 10px;
}
* {
	box-sizing: border-box;
}


.it-nav 
{
	width: 83px;
	background-color: #2badd9;
	float: left;
	shape-outside: url(7.png);
	margin-left: 59px;
	margin-bottom: -55px;
}
* {
	box-sizing: border-box;
}

.message{
	height: 112px;
}

.sub{
    margin-left: 879px;
    margin-top: 71px;
}


h1{margin-left: 20px;text-align: center;}

.ps
{
	width: 430px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #777;
	border-radius: 4px;
	box-sizing: border-box;
	margin-left:200px ! important;
	font-family: sans-serif;
	font-style: comic;
	clear: left;
	font-size: 15px;





}
.ps2
{
	font:  red;
	width: 30%
	background-color:#00ff00;
	padding:12px 20px
	color : transparent;
	margin-left:8px ! important;
	border:none;
	border-radius: 5px;
	cursor: pointer;
	font-family: sans-serif;

}	

.button {
	font-style: italic;
	padding:10px 10px;
	font-size: 17px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: white;
	background-color: grey;
	border: none;
	border-radius: 0;
	box-shadow: 0 5px #999;
	width: 250px;



}
.button:hover{
	background-color: #1E90FF;
}
.button:active{
	background-color:#ff0000;
	box-shadow: 0 0px #666;
	transform: translateY(3px);
}
div{
	border-radius: 10px;
	background-color:#f2f2f2;
	padding: 22px;

}
#imagewithcaption {
	float:left;
	width: 178px;
	text-align:center;
}



#nav-contact{
	padding-left: 55px;
	width: 100%;
	display: inline-block;
	background-color: grey;

}

#nav-contact ul li{
	display: inline-block;
	height: 62px;
}
#nav-contact ul li a{
	padding: 20px;
	background: #333;
	color: white;
}
#nav-contact ul li a:hover{
	background-color: #1e90ff;
	box-shadow: 0px 1px 1px #666;
}
#nav-contact ul li a:active{ background-color: #ff8f00; }


.lastname{
	margin-left: 1000px;
    margin-top: -85px;
}

.columns {
    float: left;
    width: 25%;
    padding: 8px;
}
.grey-up{
	height: 300px;
}

.grey-up-icon{
	height: 700px;
}

.image-price{
	height: 230px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #ccc;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #777;
    font-size: 15px;
    text-align: left;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

.container .checkmark:after {
    left: 17px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
 }

 .check{
 	margin-left: 287px;
    width: 54px;
 }